In [83]:
import os, sqlite3, copy, numpy as np, trueskill as ts, pandas as pd

In [101]:
class SimpleDB(object):
    def __init__(self, db_address):
        self._address = db_address
        self._engine = sqlite3.connect(self._address)
    
    def execute(self, sql_str, variables=None):
        if not variables:
            return self._engine.cursor().execute(sql_str).fetchall()
        else:
            v = tuple(variables)
            return self._engine.cursor().execute(sql_str, v).fetchall()

In [102]:
db_address = 'database/20160614_final_pairwise_comparisons_luke.db'
m_lp = SimpleDB(db_address)
db_address = 'database/20160614_final_pairwise_comparisons_alina.db'
m_ab = SimpleDB(db_address)

In [103]:
vids_lp = m_lp.execute('SELECT video_id, filepath FROM videos')
vids_ab = m_ab.execute('SELECT video_id, filepath FROM videos')
vids_ab = [(r[0], r[1][2:]) for r in vids_ab] #alina has the static dir somewhere else
comps_lp_raw = m_lp.execute('SELECT * FROM comparisons')
comps_ab_raw = m_ab.execute('SELECT * FROM comparisons')

In [90]:
#add user_id and license booleanto each comparison (in both tables...)
comps_lp = []
comps_ab = []
sql_str = '''SELECT username, license FROM users 
             WHERE user_id = (SELECT user_id FROM sessions WHERE suuid = ? LIMIT 1)'''
for comp in comps_lp_raw:
    suuid = comp[4]
    u_info = m_lp.execute(sql_str, (suuid,))[0]
    new_comp = list(comp) + list(u_info)
    comps_lp.append(tuple(new_comp))
for comp in comps_ab_raw:
    suuid = comp[4]
    u_info = m_ab.execute(sql_str, (suuid,))[0]
    new_comp = list(comp) + list(u_info)
    comps_ab.append(tuple(new_comp))

In [91]:
#find mapping between the two video ids (AB version as 'true'), based on filepath
vids_fpath_list_lp = [r[1] for r in vids_lp]
id_map = {} #mapping from LP (col1) to AB (col2)
for entry in vids_ab:
    fpath = entry[1]
    id_in_ab = entry[0]
    ind_in_lp = vids_fpath_list_lp.index(fpath)
    id_in_lp = vids_lp[ind_in_lp][0] # should be equivalent to +1
    id_map[id_in_lp] = id_in_ab

In [92]:
#traverse the comparisons builoding new comps_lp video
new_comps_lp = []
first_comp_id = comps_ab[-1][0] + 1
for new_comp_id, comp in enumerate(comps_lp, start=first_comp_id):
    id_v1 = comp[1]
    id_v2 = comp[2]
    id_winner = comp[3]
    new_comp_tuple = (new_comp_id, id_map[id_v1], id_map[id_v2], id_map[id_winner], comp[4], comp[5], comp[6])
    new_comps_lp.append(new_comp_tuple)
    
#add the two comps list
full_comps = comps_ab + new_comps_lp

In [93]:
#insert username and licnse into the comps
df_comps = pd.DataFrame(full_comps, columns=['comp_id', 'v1', 'v2', 'winner', 'suuid', 'username', 'license'])

In [94]:
df_comps.head()

,comp_id,v1,v2,winner,suuid,username,license
0,1,35,125,35,5a4d97a5-31ad-41d9-8a3f-9328291fb820,alina,1
1,2,105,34,105,3af14cf9-9880-4f25-9a85-3a4b0064e96b,alina_u1,1
2,3,98,78,78,3af14cf9-9880-4f25-9a85-3a4b0064e96b,alina_u1,1
3,4,81,49,49,3af14cf9-9880-4f25-9a85-3a4b0064e96b,alina_u1,1
4,5,99,22,22,3af14cf9-9880-4f25-9a85-3a4b0064e96b,alina_u1,1

In [96]:
df_vids = pd.DataFrame(vids_ab, columns=['video_id', 'filepath'])

In [98]:
df_vids.tail()

     video_id                                filepath
125       126   /static/videos/set09_V010_731_2_2.mp4
126       127  /static/videos/set10_V006_1734_0_1.mp4
127       128  /static/videos/set10_V007_1423_0_3.mp4
128       129   /static/videos/set10_V008_753_3_3.mp4
129       130   /static/videos/set10_V011_638_3_3.mp4

In [100]:
#save these tables here
df_comps.to_csv('full_comparisons_table_wuserinfo.csv')
df_vids.to_csv('video_filepath_map.csv')